* {
  padding: 0;
}

li {
  list-style: none;
}
img {
  width: 320px;
  height: 180px;
}
.videoList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.videoItem {
  /* width: 25%; */
  /* height: 500px; */
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  margin-bottom: 10px;
  transition: all 240ms ease-out;
  box-sizing: border-box;
}

.videoItem:hover {
  transform: scale(1.02);
}

.videoItem .videoInfo {
  width: 320px;
}
